<h1>All Movies</h1>

<h3>Our massive movie selection includes 4 titles!</h3>

<h4><%= link_to("Gladiator", @gladiator[:link]) %></h4>

<h4><%= link_to("Matilda", @matilda[:link]) %></h4>

<h4><%= link_to("Billy Madison", @billy_madison[:link]) %></h4>

<h4><%= link_to("Tommy Boy", @tommy_boy[:link]) %></h4>